@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
.icono {
    float: right; /* Alinea los iconos a la derecha */
    margin-left: 18px; /* Espacio entre los iconos */
    padding: 10px;
        }
  

.contenedor {
    background-color: #f2f2f2; /* Color del interior del div principal */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        }        
.contenedor_consulta {
    background-color:#e1e4e0; /* Color del interior del div principal */
    border-radius: 0px;
    padding: 20px;
    margin: 20px;
                    }
                    
.botonAgregar {
    background-color: #30b815;
    color: white;
    border: none;
    border-radius: 0;
    padding: 15px 230px; /* tama�o del bot�n */
    cursor: pointer;
    font-size: 16px;
              }
    .botonAgregar:hover {
        background-color: #2b9b13;
                        }
        
        
.botonCancelar {
    margin-top: 5px;    
    background-color: #a7a7a7;
    color: white;
    border: none;
    border-radius: 0;
    padding: 15px 230px; /* tama�o del bot�n */
    cursor: pointer;
    font-size: 16px;
               }
    .botonCancelar:hover {
          background-color: #979797;
                         }
                         
.contenedorBotones {
    padding: 7px;
    margin: 0px;
        display: flex; /*  alinear elementos internos */
        justify-content: flex-end; /* Alineamos los elementos a la derecha */
                   }
                   
.form-control{
    padding: 15px;
             }
    .form-control:hover {
        background-color:  #d0d0d0; /* Color de fondo atenuado cuando el mouse est� sobre �l */
                        }
        .mb-1
        {
            .form-control[disabled]::placeholder {
        font-weight: bold;
                                                 }      
        }
        
#foto {
    width: 500px;
    height: 40px; 
      }
      
.text-shadow {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Ajusta los valores seg�n tu preferencia */
             }
             
.botonBuscar {
    background-color: #30b815;
    color: #ffff;
    border: none;
    border-radius: 0;
    padding: 15px 75px; /* Aumentamos el tama�o del bot�n */
    cursor: pointer;
    font-size: 16px;             
             }
    .botonBuscar:hover {
            background-color: #2b9b13;
                       }
        
.bi:hover{
        background-color: #979797;
         }

.FOTO {
        margin-right: 46px;
      } 
      
.columna1{
        margin-right: 46px;  
         }
         
.columna2{
        margin-right: 2px;   
         }
.custom-select {
  position: relative;
  display: inline-block;
  width: 140px;  
 
               }

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  padding: 10px 40px 10px 20px;
  width: 100%;
  cursor: pointer;
                      } 

.custom-select:after {
  content: '\25BC'; /* C�digo Unicode para la flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #555;
  pointer-events: none;
                    }    
                    
.estatus-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.centrado-horizontal {
  text-align: center;
}
.contenedor_consulta {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
    background-color: #ffffff;
}

.table th:first-child,
.table td:first-child {
    border-left: none;
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}

.table th,
.table td:last-child {
    border-bottom: none;
}
.contenedor-edicion {
    background-color: #fff;
    border-radius:1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
  width: 1300px; /* Ajusta el ancho m�ximo seg�n tu preferencia */
    max-height: 95vh; /* Ajusta la altura m�xima seg�n tu preferencia */
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, 10%);
    z-index: 9999;
}

        @keyframes fadeIn {
            0% { opacity: 0; transform: translate(-50%, -55%); }
            100% { opacity: 1; transform: translate(-50%, -50%); }
        }

        /* Estilos para los botones */
        .btn-confirmar, .btn-cancelar, .btn-limpiar {
            padding: 8px 16px;
            margin: 5px;
            font-size: 14px;
            background-color: #30b815;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-cancelar {
            background-color: #ccc;
        }
        .btn-confirmar {
    background-color: #30b815;
              }
    .btn-confirmar:hover {
        background-color: #2b9b13;
                        }
                           .btn-limpiar {
    background-color: #51cea8;
              }     
        /* Estilos para los divs internos */
        .edicion-inner {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }
   .editarProducto {
    background-color: #007bff;
}      
       .eliminar-menu {
            display: none;
            position: absolute;
            right:450px;
            top: 250px;
            background-color: #fff;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            padding:20px;
            border-radius: 10px;
            animation: fadeIn 1.3s ease forwards;
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(-10px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        #deshabilitarMenu{
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
        