<svg
  {...Astro.props}
  height="256"
  width="256"
  id="Layer_1"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 246.3 75.59"
  fill="var(--svg-color)"
  >
  <title>JavaFX</title>
  <path
    d="M196.11,35.76c-8.71,0-16.67,0-24.63,0-7.58,0-7.6,0-9.27,7.52-1.04,4.67-2.03,9.35-2.93,14.05-.31,1.61-.84,2.46-2.66,2.35-2.34-.14-4.69-.08-7.03-.02-1.43.04-1.8-.37-1.48-1.87,3.33-15.38,6.42-30.81,9.93-46.14,1.83-7.98,6.82-11.53,15-11.56,9.59-.03,19.18.06,28.77-.06,2.32-.03,2.82.45,2.32,2.82-1.55,7.45-1.44,7.47-8.99,7.47-6.93,0-13.85-.03-20.78.02-4.07.03-5.26,1.03-6.17,4.97-.62,2.69-1.12,5.41-1.79,8.09-.46,1.85.12,2.41,2.01,2.37,5.75-.1,11.51.11,17.26-.1,2.55-.09,4.15.71,5.43,2.85,1.36,2.27,3,4.36,5,7.22Z"
    style="stroke-width:0px;"></path><path
    d="M180.8,59.64c4.4-4.66,8.15-8.64,11.91-12.61,2.93-3.09,5.8-6.24,8.82-9.23,1.18-1.17,1.05-1.96.17-3.2-3.8-5.39-7.5-10.85-11.22-16.29-.46-.68-1.4-1.31-1.03-2.18.41-.98,1.51-.36,2.29-.52,6.56-1.33,11.14,1.03,14,7.15,1.01,2.17,2.72,4.03,4.23,6.21,3.83-4.02,7.52-7.82,11.12-11.71,1.09-1.18,2.23-1.75,3.88-1.69,3.59.11,7.19.03,11.72.03-3.07,3.32-5.56,6.08-8.13,8.78-3.52,3.7-7.01,7.44-10.67,11-1.72,1.68-1.67,2.92-.3,4.82,4.46,6.2,8.73,12.55,13.47,19.42-4.1,0-7.63-.01-11.16,0-1.34,0-1.72-1.1-2.3-1.94-2.49-3.58-5.02-7.14-7.4-10.79-1.08-1.66-1.83-1.55-3.09-.18-3.44,3.77-7.04,7.41-10.49,11.16-1.16,1.27-2.39,1.85-4.16,1.79-3.56-.13-7.13-.04-11.64-.04Z"
    style="stroke-width:0px;"></path><path
    d="M60.02,42.4c0,4.89-.09,9.79.04,14.68.05,2.04-.48,2.92-2.65,2.7-2.33-.23-5.12.95-5.36-3.24-.09-1.58-1.54,0-2.09.39-4.17,2.93-8.73,4.42-13.82,3.75-6.45-.85-9.62-3.63-10.72-9.14-1.25-6.24,1.06-11.8,6.26-14.78,4.26-2.43,8.96-3.11,13.79-3.43,1.74-.11,4.36,1.54,5.2-1.18,1.24-4.01-.62-8.25-3.81-9.55-3.28-1.34-6.71-.9-10.08-.44-1.98.27-3.91.94-5.86,1.46-1.02.27-2.33.81-2.44-.81-.11-1.57-2.32-3.69.12-4.7,7.82-3.24,15.94-4.78,24.2-1.75,5.27,1.94,7.12,6.39,7.22,11.68.09,4.79.02,9.57.02,14.36ZM50.75,45.15c0-1.59,0-2.86,0-4.14,0-.93-.17-1.7-1.35-1.71-3.93-.04-7.88-.16-11.53,1.68-3.18,1.61-3.72,4.4-3.37,7.56.3,2.74,1.88,4.56,4.51,5.15,3.94.88,7.22-.87,10.38-3.01,2.33-1.58.97-3.89,1.38-5.53Z"
    style="stroke-width:0px;"></path><path
    d="M134.46,55.31c-3.81,2.81-7.27,4.78-11.38,5.39-10.29,1.52-16.9-4.65-15.58-14.65.79-6.03,5.96-10.51,13.68-11.96,3.27-.61,6.55-.81,9.86-.65,1.51.07,1.95-.42,2.02-1.96.31-6.92-2.16-9.57-9.04-9.67-3.79-.06-7.39.71-10.97,1.81-1.01.31-2.28.83-2.39-.9-.1-1.57-2.2-3.64.36-4.69,7.54-3.11,15.34-4.52,23.34-1.93,4.87,1.58,7.65,5.5,7.7,10.62.09,10.22,0,20.44.06,30.66.01,1.74-.4,2.43-2.29,2.41-2.9-.03-6.02.6-5.38-4.49ZM133.02,45.08c0-1.53,0-2.8,0-4.07,0-.9-.03-1.71-1.27-1.72-3.92-.04-7.86-.18-11.52,1.61-2.83,1.38-3.86,3.89-3.65,6.82.2,2.82,1.46,5.19,4.45,5.91,3.92.95,7.17-.73,10.39-2.79,2.55-1.63,1.21-3.99,1.6-5.76Z"
    style="stroke-width:0px;"></path><path
    d="M65.45,15.81c.1-.03.2-.09.3-.1q9.08-.69,11.8,7.98c2.69,8.61,5.67,17.13,7.73,26.61,3.06-8.07,5.09-15.81,6.78-23.63.45-2.08.77-4.18,1.21-6.26.33-1.6-.28-4.15,1.35-4.55,2.61-.64,5.5-.3,8.25-.14,1.04.06.65,1.15.51,1.83-2.7,13.91-6.55,27.46-12.46,40.38-.34.76-.51,1.76-1.58,1.77-3.3.04-6.6.03-9.9,0-.96,0-1.14-.83-1.36-1.54-4.27-13.91-8.53-27.83-12.77-41.74-.05-.17.08-.41.13-.61Z"
    style="stroke-width:0px;"></path><path
    d="M18.51,30.26c0,9.04.18,18.09-.05,27.13-.22,8.57-5.05,14.15-12.59,17.64-.84.39-1.73,1.05-2.54-.06-1.11-1.52-2.85-2.6-3.32-4.53-.07-.27.82-.86,1.34-1.18,5.51-3.44,7.62-8.53,7.61-14.85-.04-17.03.1-34.05,0-51.08-.02-2.67.71-3.4,3.35-3.33,6.34.17,6.34.04,6.34,6.32,0,7.98,0,15.96,0,23.94-.04,0-.08,0-.12,0Z"
    style="stroke-width:0px;"></path><polygon
    points="246.3 16.15 246.19 16.08 246.27 16.13 246.3 16.15"
    style="fill:#5f839f; stroke-width:0px;"></polygon></svg
>
