---
import Layout from "../layouts/Layout.astro";

import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";

import * as Icons from "../components/Icons.astro";
---

<Layout
  title="Portafolio de Alejandro Delgado Cardona - Desarrollador e Ingeniero de Software"
  description="Bienvenido al portafolio de Alejandro Delgado Cardona. Como desarrollador e ingeniero de software experimentado, Alejandro tiene una amplia gama de habilidades en tecnolog칤as como Java, Python, Node.js y m치s. Explora sus proyectos, conoce su experiencia y descubre c칩mo puede ayudar a llevar tu proyecto al siguiente nivel."
>
  <main class="px-4">
    <Section id="about" class="py-24 pb-10">
      <img
        class="rounded-full size-[24vh] lg:size-[36vh] mb-4"
        src="/img/alejandro.jpeg"
        alt="Alejandro"
      />
      <h1
        class="text-5xl md:text-4xl lg:text-5xl font-bold flex justify-center flex-row gap-x-2 pb-6 lg:pb-10 uppercase"
      >
        Hola, soy Alejandro Delgado Cardona!

        <div class="flex justify-center items-center text-center">
          <Badge> Desarrollador Fullstack 游</Badge>
        </div>
      </h1>

      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-2xl lg:text-3xl text-gray-300 font-bold uppercase"
          >+ 2 a침os de experiencia.</span
        > Tengo 20 a침os y soy estudiante de
        <span class="text-yellow-300/90 font-bold uppercase"
          >Ingenier칤a de Desarrollo de Software</span
        > en la
        <span class="text-green-300/90 font-bold uppercase"
          >Universidad Tecnol칩gica de Le칩n 游눜游부.</span
        >
        Me especializo en el desarollo de soluciones tecnol칩gicas utilizando tecnolog칤as
        para el
        <span class="text-purple-300/90 font-bold uppercase"
          >desarrollo web y m칩vil</span
        >
        游눹丘뙖잺. Me encanta aprender y compartir conocimiento.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/alejandrodcardona5/">
          <i class="fa-brands fa-linkedin size:4 md:size-6"></i>
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/Pumpinator">
          <i class="fa-brands fa-square-github size:4 md:size-6"></i>
          GitHub
        </SocialPill>

        <SocialPill href="https://www.instagram.com/alejandroel5/">
          <i class="fa-brands fa-square-instagram size:4 md:size-6"></i>
          Instagram
        </SocialPill>

        <SocialPill href='mailto:"alejandrodcardona5@gmail.com"'>
          <i class="fa-solid fa-square-envelope size:4 md:size-6"></i>
          alejandrodcardona5@gmail.com
        </SocialPill>
      </nav>
    </Section>

    <Section id="experiencie" class="pt-10 pb-10">
      <h2 class="text-3xl font-semibold mb-6">
        <i class="fa-solid fa-suitcase"></i>
        Experiencia
      </h2>
      <Experience />
    </Section>

    <Section id="skills" class="pt-10 pb-10">
      <h2 class="text-2xl font-semibold mb-6">
        <i class="fa-solid fa-code"></i>
        Habilidades
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-20 mt-8 text-center">
        <div>
          <div class="grid grid-cols-3 gap-4 justify-items-center pt-4">
            <Icons.Java class="size-12" />
            <Icons.Python class="size-12" />
            <Icons.JavaScript class="size-12" />
            <Icons.TypeScript class="size-12" />
            <Icons.PHP class="size-12" />
          </div>
        </div>

        <div>
          <div class="grid grid-cols-3 gap-4 justify-items-center pt-4">
            <Icons.JavaFX class="size-12" />
            <Icons.Spring class="size-12" />
            <Icons.Jakarta class="size-12" />
            <Icons.Express class="size-12" />
            <Icons.Vue class="size-12" />
            <Icons.Bootstrap class="size-12" />
            <Icons.Tailwind class="size-12" />
          </div>
        </div>

        <div>
          <div class="grid grid-cols-3 gap-4 justify-items-center pt-4">
            <Icons.MySQL class="size-12" />
            <Icons.Mongo class="size-12" />
          </div>
        </div>

        <div>
          <div class="grid grid-cols-3 gap-4 justify-items-center pt-4">
            <Icons.Nodejs class="size-12" />
            <Icons.Git class="size-12" />
            <Icons.Docker class="size-12" />
            <Icons.HTML class="size-12" />
            <Icons.CSS class="size-12" />
          </div>
        </div>

        <div>
          <div class="grid grid-cols-3 gap-4 justify-items-center pt-4">
            <Icons.Arduino class="size-12" />
            <Icons.Apple class="size-12" />
            <Icons.Android class="size-12" />
            <Icons.Linux class="size-12" />
            <Icons.Windows class="size-12" />
          </div>
        </div>
      </div>
    </Section>
    <Section id="projects" class="pt-10 pb-10">
      <h2 class="text-3xl font-semibold gap-x-3">
        <i class="fa-solid fa-gear"></i>
        Proyectos
      </h2>
      <Projects />
    </Section>
  </main>
</Layout>
