---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1
        class="text-white text-5xl font-bold flex justify-center flex-row gap-x-2 pb-10"
      >
        Alejandro Delgado Cardona
        <a
          href="https://www.linkedin.com/in/alejandrodcardona5/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Estudiante de Ingenier铆a de Desarrollo de Software</Badge>
        </a>
        <h2 class="text-xl text-opacity-80">
          2 a帽os de experiencia, estudiante de Ingenier铆a de Desarrollo de
          Software en la Universidad Tecnl贸gica de Le贸n . Me especializo en
          el desarollo de soluciones tecnol贸gicas utilizando tecnolog铆as para el
          desarrollo web y m贸vil.
        </h2>
      </h1>
    </section>
  </main>
</Layout>
