<header class="flex justify-between items-center py-3 w-[1120px]">
  <img
    class="rounded-full w-12 h-12"
    src="https://avatars.githubusercontent.com/u/136514743?s=400&u=07348fcbfcd0ea6bbe3d3ab3e4fddbf4f6cadac5&v=4"
    alt="Alejandro foto"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Inicio</a>
    <a href="/acerca">Acerca</a>
    <a href="/proyectos">Proyectos</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>
