---
import * as Icons from "../components/Icons.astro";

const TAGS = {
  JAVA: { name: "Java", icon: Icons.Java },
  PYTHON: { name: "Python", icon: Icons.Python },
  JAVASCRIPT: { name: "JavaScript", icon: Icons.JavaScript },
  TYPESCRIPT: { name: "TypeScript", icon: Icons.TypeScript },
  PHP: { name: "PHP", icon: Icons.PHP },
  JAVAFX: { name: "JavaFX", icon: Icons.JavaFX },
  SPRING: { name: "Spring", icon: Icons.Spring },
  JAKARTA: { name: "Jakarta", icon: Icons.Jakarta },
  EXPRESS: { name: "Express", icon: Icons.Express },
  VUE: { name: "Vue", icon: Icons.Vue },
  BOOTSTRAP: { name: "Bootstrap", icon: Icons.Bootstrap },
  TAILWIND: { name: "Tailwind", icon: Icons.Tailwind },
  MYSQL: { name: "MySQL", icon: Icons.MySQL },
  MONGO: { name: "Mongo", icon: Icons.Mongo },
  NODEJS: { name: "Node.js", icon: Icons.Nodejs },
  GIT: { name: "Git", icon: Icons.Git },
  DOCKER: { name: "Docker", icon: Icons.Docker },
  HTML: { name: "HTML", icon: Icons.HTML },
  CSS: { name: "CSS", icon: Icons.CSS },
  ARDUINO: { name: "Arduino", icon: Icons.Arduino },
  APPLE: { name: "Apple", icon: Icons.Apple },
  ANDROID: { name: "Android", icon: Icons.Android },
  LINUX: { name: "Linux", icon: Icons.Linux },
  WINDOWS: { name: "Windows", icon: Icons.Windows },
};

const PROJECTS = [
  {
    title: "Pecuadex",
    description: "Este proyecto privado es un sistema gestor de ganado que utiliza tecnología RFID para ayudar a los ganaderos a llevar un registro de su ganado y su producción. Los datos recopilados pueden ayudar a los ganaderos a tomar decisiones informadas sobre la gestión de su ganado. Este proyecto sigue en desarrollo.",
    link: "#",
    github: "https://github.com/Pumpinator/pecuadex",
    image: "/img/pecuadex.png",
    tags: [TAGS.JAVA, TAGS.SPRING, TAGS.MYSQL],
  },
  {
    title: "Sistema Central de Farmacias",
    description: "",
    link: "#",
    github: "#",
    image: "/img/sicefa.png",
    tags: [TAGS.JAVA, TAGS.JAKARTA, TAGS.MYSQL],
  },
  {
    title: "Shop",
    description: "E Commerce hecho con Spring Boot y MySQL, gestionar productos, categorías, usuarios, etc... Este proyecto sigue en desarrollo.",
    link: "#",
    github: "https://github.com/Pumpinator/shop",
    image: "/img/shop.png",
    tags: [TAGS.JAVA, TAGS.SPRING, TAGS.MYSQL],
  },
  {
    title: "Articulos",
    description: "Red Social con usuarios, publicaciones y reacciones, donde los usuarios pueden publicar artículos con fotografía, comentar y dar like a los artículos de otros usuarios.",
    link: "#",
    github: "https://github.com/Pumpinator/articulos",
    image: "/img/articulos.png",
    tags: [TAGS.JAVASCRIPT, TAGS.NODEJS, TAGS.EXPRESS, TAGS.MONGO],
  },
];
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 gap-4 py-10">
  {
    PROJECTS.map((project) => (
      <a
        href={project.github}
        class="rounded-lg shadow-md overflow-hidden hover:shadow-lg transform hover:scale-105 transition-all duration-200 ease-out"
      >
        <img
          class="w-full h-96 object-cover"
          src={project.image}
          alt={project.title}
        />
        <div class="p-6">
          <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold mb-2">{project.title}</h2>
            <div class="flex flex-wrap gap-10">
              {project.tags.map((tag) => (
                <div>
                  <tag.icon class="size-8" />
                </div>
              ))}
            </div>
          </div>
        </div>
      </a>
    ))
  }
</div>
